* {
    --white: #ffffff;
    --trans-blue: #64C9F9;
    --trans-pink: #F0A5B7;
    --grAAAAAAy: #AAAAAA;

    font-family: 'Cantarell', sans-serif;
    color: #000000;
}

html, body {
    margin: 0;
    padding: 0;

    font-size: 110%;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--trans-pink);
    padding: 0.5em 1em;
    
    display: grid;
    grid-template-columns: 140px auto;
    align-items: center;
}
header img {
    width: 140px;
    padding-right: 1em;
}
header h1 {
    font-size: 200%;
}

/*The weirdness is if we have 2 of these,
 * the first one will be blue and the second
 * one will be #FFB5C7. This is because for
 * 2024 we planned a rally and now we're packing
 * the state house lol. So we need a banner
 * bc the rally is already announced, but we need
 * an EVEN MORE IMPORTANT banner for the state
 * house. SMH.
 * Of course the real behavior is that all but
 * the last one will be blue, and the last one
 * will be #FFB5C7. But god help us if we ever
 * have more than 2 banners. */
aside.promotion:last-of-type {
    background-color:#FFB5C7;
}
aside.promotion {
    background-color:var(--trans-blue);
    padding:16px;
    font-weight:bold;
    font-size:1.05em;
    /*ok ally*/
    text-align:center;
}
aside.promotion a {
    text-decoration:none;
}
aside.promotion a .fake-link {
    text-decoration:underline;
}
aside.promotion a em {
    display:block; /*ok ally*/
    font-size:1.15em;
}

/* a little counterintuitive but remember nav is right above footer (20240209) */
nav {
    background-color:lightgray;
    padding: 0.5em 1em;
}
nav :not(:last-child):after {
    content:" • ";
    text-decoration:none;
    display:inline-block;
    margin-left:5px; /* ??? caused by inline-block, why is it uneven tho */
}
footer {
    background-color: var(--grAAAAAAy);
    padding: 0.5em 1em;
}

main {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex: 1;
}

main div {
    flex: 1;
}

.link-btn {
    display: block;
    font-size: 1.3em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    background-color: var(--trans-blue);
    text-decoration: none;
    border-radius: 20px;
}
button.link-btn {
    /* lol */
    margin-left: 0;
    border: 0;
}
input {
    font-size: 2em;
}

/*Support page shenanigans*/
ol.list-with-links {
    list-style-type:none;
    padding:0;
}
ol.list-with-links li {
    display:flex;
    border-top:1px solid lightgray;
}
ol.list-with-links li * {
    flex:1;
}

/*social media share buttons*/
.socials {
    text-align:center;
    border: 2px dashed var(--trans-blue);
    padding: 0.3em 0;
}
.button-row {
    display:flex;
}
.button-row * {
    flex:1;
}
.button-row .link-btn {
    margin:.25em;
    padding:.75em;
    font-size:min(1.1em, 6vw);
}

.mobile-only { display: none; }
/*.not-mobile { display: block; }*/

.nobreak { white-space: nowrap; }

@media(min-width: 600px) {
    .absurdnobreakhackforheader { white-space: nowrap; }
}
/*pride in the park*/
@media(min-width: 900px) {
    main img {
        max-width:40%;
        margin:24px;
        height:min-content; /*otherwise it freaking grows to the height of the other flex thing*/
    }
    .button-row {
        padding:0 1em;
    }
}
@media(max-width: 900px) {
    main {
        flex-direction: column;
    }
    .link-btn {
        margin: 1em 0;
    }
    .not-mobile { display: none; }
    .mobile-only { display: block; }

    header h1 { font-size: 1.3em; }

    ol.list-with-links li {
        flex-direction:column;
    }
}
