<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Alabama Transgender Rights Action Coalition</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="Alabama Transgender Rights Action Coalition">
        <meta name="description" content="ALTRAC provides the information you need to help protect the rights of transgender Alabamians. Learn how to contact your state representatives, and find out about local rallies where you can make your voice heard.">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <!-- <meta property="og:url" content="https://altrac.works/"> -->
        <meta property="og:title" content="Alabama Transgender Rights Action Coalition">
        <meta property="og:description" content="ALTRAC provides the information you need to help protect the rights of transgender Alabamians. Learn how to contact your state representatives, and find out about local rallies where you can make your voice heard.">
        <!-- <meta property="og:image" content="logo.png"> -->
        
        <!-- Twitter -->
        <meta property="twitter:card" content="summary">
        <!-- <meta property="twitter:url" content="https://altrac.works/"> -->
        <meta property="twitter:title" content="Alabama Transgender Rights Action Coalition">
        <meta property="twitter:description" content="ALTRAC provides the information you need to help protect the rights of transgender Alabamians. Learn how to contact your state representatives, and find out about local rallies where you can make your voice heard.">
        <!-- <meta property="twitter:image" content="logo.png"> -->

        <link rel="stylesheet" href="/altrac.css?20250111">
        <script src="/js/analyticsomatic9000.js"></script>
    </head>
    <body>
        <header>
            <img src="/img/logoCv2.svg">
            <h1>Alabama Transgender Rights <span class="absurdnobreakhackforheader">Action Coalition</span></h1>
        </header>

        <aside class="promotion">
            <a href="/watch/">
                Join ALTRAC for public hearings this Tuesday and Wednesday. <span class="fake-link">More info and livestream here</span>
            </a>
        </aside>

        <main>
            <!-- the content will be inserted here -->
        </main>
        <nav>
            More ALTRAC:
            <a href="/coalition">Our coalition partners</a>
            <a href="/support">How you can help</a>
            <a href="/pride">Trans Pride Day</a>
            <a href="/2024">What we did last year</a>
            <a href="/2023">What we did in 2023</a>
        </nav>
        <footer>
            Questions or comments? Send us an email: <a href="mailto:info@altrac.works">info@altrac.works</a>
        </footer>
    </body>
</html>
