<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Alabama Transgender Rights Action Coalition</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="Alabama Transgender Rights Action Coalition">
        <meta name="description" content="ALTRAC provides the information you need to help protect the rights of transgender Alabamians. Learn how to contact your state representatives, and find out about local rallies where you can make your voice heard.">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <!-- <meta property="og:url" content="https://altrac.works/"> -->
        <meta property="og:title" content="Alabama Transgender Rights Action Coalition">
        <meta property="og:description" content="ALTRAC provides the information you need to help protect the rights of transgender Alabamians. Learn how to contact your state representatives, and find out about local rallies where you can make your voice heard.">
        <!-- <meta property="og:image" content="logo.png"> -->
        
        <!-- Twitter -->
        <meta property="twitter:card" content="summary">
        <!-- <meta property="twitter:url" content="https://altrac.works/"> -->
        <meta property="twitter:title" content="Alabama Transgender Rights Action Coalition">
        <meta property="twitter:description" content="ALTRAC provides the information you need to help protect the rights of transgender Alabamians. Learn how to contact your state representatives, and find out about local rallies where you can make your voice heard.">
        <!-- <meta property="twitter:image" content="logo.png"> -->

        <link rel="stylesheet" href="/altrac.css?20240219">
        <script src="/js/analyticsomatic9000.js"></script>
    </head>
    <body>
        <header>
            <img src="/img/logoCv2.svg">
            <h1>Alabama Transgender Rights <span class="absurdnobreakhackforheader">Action Coalition</span></h1>
        </header>
        <!-- <aside class="promotion">
            <a href="/rally/">Join ALTRAC at Big Spring Park in Huntsville on Saturday, February 24th - we're rallying in opposition to anti-queer legislation. <span class="fake-link">Click here to learn more</span> and make your voice heard!</a>
        </aside> -->
        <aside class="promotion">
            <a href="/celebration">ALTRAC is proud to host <em>Celebration of Women: Coming Together for Gender Equity and Feminist Action</em> on Saturday, March 9th in Huntsville. <span class="fake-link">Click here to learn more</span> - we'd love to see you there!</a>
        </aside>

       <aside class="promotion">
           <a href="/watch/">We are packing the State House in Montgomery for the HB130 and HB195 public hearings on Wednesday! <span class="fake-link">Click here to join us - or watch the hearings online</span> if you can't make it.</a>
       </aside>
        <main>
            <!-- the content will be inserted here -->
        </main>
        <nav>
            More ALTRAC:
            <a href="/coalition">Our coalition partners</a>
            <a href="/support">How you can help</a>
            <a href="/pride">Trans Pride Day</a>
            <a href="/2023">What we did last year</a>
        </nav>
        <footer>
            Questions or comments? Send us an email: <a href="mailto:info@altrac.works">info@altrac.works</a>
        </footer>
    </body>
</html>
