<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Alabama Transgender Rights Action Coalition</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="title" content="Alabama Transgender Rights Action Coalition">
        <meta name="description" content="ALTRAC provides the information you need to help protect the rights of transgender Alabamians. Learn how to contact your state representatives, and find out about local rallies where you can make your voice heard.">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://altrac.works/">
        <meta property="og:title" content="Alabama Transgender Rights Action Coalition">
        <meta property="og:description" content="ALTRAC provides the information you need to help protect the rights of transgender Alabamians. Learn how to contact your state representatives, and find out about local rallies where you can make your voice heard.">
        <!-- <meta property="og:image" content="logo.png"> -->
        
        <!-- Twitter -->
        <meta property="twitter:card" content="summary">
        <meta property="twitter:url" content="https://altrac.works/">
        <meta property="twitter:title" content="Alabama Transgender Rights Action Coalition">
        <meta property="twitter:description" content="ALTRAC provides the information you need to help protect the rights of transgender Alabamians. Learn how to contact your state representatives, and find out about local rallies where you can make your voice heard.">
        <!-- <meta property="twitter:image" content="logo.png"> -->

        <link rel="stylesheet" href="/altrac.css">
        <script src="/js/analyticsomatic9000.js"></script>
    </head>
    <body>
        <header>
            <img src="/img/logoCv2.svg">
            <h1>Alabama Transgender Rights <span class="absurdnobreakhackforheader">Action Coalition</span></h1>
        </header>
        <!-- Before re-enabling bar, center the text and put the event title on its own line.
        <aside class="promotion">
            <a href="celebration">ALTRAC is proud to host <em>Celebration of Women: Coming Together for Gender Equity and Feminist Action</em> on February 24th in Huntsville. <span class="fake-link">Click here to learn more</span> - we'd love to see you there!</a>
        </aside>
        -->
        <main>
        </main>
        <footer>
            Questions or comments? Send us an email: <a href="mailto:info@altrac.works">info@altrac.works</a>
        </footer>
    </body>
</html>
